.services {
  display: flex;
  gap: 2rem;
  padding: 4rem 2rem;
  background: #ffffff;
  align-items: center;
}

.services-text {
  width: 50%;
}

.services-text .tag {
  color: #5a2d82;
  /* font-weight: bold; */
}

.services-text h1 {
  color: #5a2d82;
  margin: 1rem 0;
}
.services-texts {
  color: black;
}

.service-list {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
}

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: fit-content;
}
.heading {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  height: fit-content;
}
/* .service-item */
.icon {
  /* background: #5a2d82; */
  /* color: black; */
  color: #5a2d82;
  padding: 0.7rem;
  border-radius: 50%;
  /* font-size: 1.2rem; */
}
.service-item .title {
  color: black;
  font-size: 1.2rem;
  margin: 0;
}
.description {
  color: black;
  margin-top: 5px;
  /* font-size: small; */
  font-weight: lighter;
}

/* side/bottom images */
.services-images {
  width: 50%;
  flex: 1;
  display: flex;
  gap: 1rem;
  height: 500px;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  position: relative;
}

.services-images img {
  position: relative;
  height: 300px;
  width: fit-content;
  border-radius: 12px;
}
.img2 {
  align-self: flex-start;
}
.img2 {
  align-self: flex-end;
}
.under {
  background-color: #5a2d82;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 0;
  border-radius: 12px;
}

@media (max-width: 970px) {
  .services-images {
    height: 400px;
    width: 400px;
  }
  .services-images img {
    height: 250px;
  }
  .under {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 768px) {
  .services {
    display: block;
  }
  .services-images {
    /* flex-direction: column; */
    width: 100%;
    height: fit-content;
    height: 300px;
    align-items: center;
    justify-content: center;
  }
  .services-images img {
    height: 200px;
    width: 200px;
  }
  .services-text {
    width: 100%;
  }
  .under {
    width: 150px;
    height: 150px;
  }
}
